!!!
%head
  %title Tailer
  %script{:type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"}
  %script{:type => "text/javascript", :src => faye_js_path}
%body
  %h1 Tailer
  = yield
